/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2021, 12:52:14 PM
    Author     : super
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*.NavigationLogo{*/
/*    width: 1500px;*/
/*    margin: auto;*/
/*}*/

body{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("Background.jpg");
    height: 100vh;
    width: 80%;
    margin: 0px auto;
    background-size: cover;
    background-position: center;
    /*position: relative;*/
}

.wrapper{
    width: 80%;
    margin: 0px auto;
}


.NavigationBar{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.NavigationBar li{
    display: inline-block;
}
.NavigationBar li a{
    text-decoration: none;
    color: yellow;
    padding: 10px 30px;
    font-family: "Times New Roman";
    font-size: 20px;
    text-transform: uppercase;
}
.StoreLogo img{
    width: 75px;
    float: left;
    height: auto;
    padding-top: 10px;
    border-radius: 100px;
}

main{
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* .Welcome-text{
    padding-top: 20px;
    color: white;
      
} */

.Welcome-text  h1{
    padding-top: 15%;
    text-align: center;
    color: White;
    font-size: 55px;
    font-family: Candara;
}

.Welcome-text p{   
    color: white;
    
    background: rgba(0, 0, 0, .3);
    background-size: 0;
    width: 50%;
    margin-left: 25%;
}

.featured h1{
    padding-top: 13%;
    text-align: center;
    color: White;
    font-size: 55px;
    font-family: Candara; 
}


button{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px auto;
    border-radius: 25px;
    border: 2px solid aqua;
    background: transparent;
    display: block;
}
button a{
    text-decoration: none;
    color: yellow;
    font-weight: bolder;
    font-size: 14px;
}


.inputinfo {
    font-family: "Times New Roman", SansSerif;
    padding: 15px;
}

label{
    font-size: large;
    display: inline-block;
    width: 150px;
    line-height: 30px;
}

input[type=text] {
    padding: 5px 10px;
    border-radius: 4px;
}
.content{
    background: white;
    border-radius: 20px;
    padding: 20px;
}

p{
    padding: 10px 0px;
}

.row{
    padding-top: 15px;
    display: flex;
    
    
 }
.col{
    display: block;
    width: 100%;
    padding: 10px 5px 10px;

}

.col img{
    display: block;
    height: 75%;
}

.slider{
    padding-left: 34%;
}
.aboutusImg {
    padding: 10px;
    display: flex;
}


/* .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} */


footer{
    position: relative;
    bottom: 0;
    right: 0;
    padding-right: 70px;
}

footer a {
    color: white;
    
}
.scroll-top{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px auto;
    border-radius: 25px;
    border: 2px solid aqua;
    background: transparent;
    display: block;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}